<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitApp"
        tools:targetApi="31">
        <activity
            android:name=".PopUpDietEdit"
            android:exported="false" />
        <activity
            android:name=".DietActivity_0_1"
            android:exported="false"/>
        <activity
            android:name=".OneExerciseActivity_0_0_0"
            android:exported="false" />
        <activity
            android:name=".ExercisesActivity_0_0"
            android:exported="false" />
        <activity
            android:name=".DonateActivity"
            android:exported="false" />
        <activity
            android:name=".MainMenuActivity_0"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>